<h1>Dashboard</h1>
<div id='welcomeWrapper'>
  <img id='pic' src='hodor.png' />
  <div id='welcome'>
    <h2>Welcome <%- user.username%> </h2>
    <h3><%- user.cohort %></h3>
  </div>
</div>

<div id='sprintWrapper'>
  
</div>

<!--
<form action='/logout'>
  <input type='submit' value='Logout'>
</form>

  Need this but it keeps messing up my format
-->




