<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type='text/javascript'>

$(function(){
    $('button').click(function(event){
    var p = $(this).parent().find('p');

        $.ajax({
            url:'/pair',
            type: 'GET',
            success: function(result){
                    p.html(result);
            },
            error: function(){
                console.log('bummer, error');
            }
        });
    });
});


</script>



<div class="row">
  <h1>Dashboard</h1>
  <form action='/logout'>
    <input type='submit' value='Logout'>
  </form>
</div>

<div id='welcomeWrapper'>
  <img id='pic' src='hodor.png' />
  <div id='welcome'>
    <h2>Welcome <%- user.username%> </h2>
    <h3><%- user.cohort %></h3>
  </div>
</div>





<div id='sprintWrapper'>
  <div class='sprintTable'>
    <button>I need a pair!</button>
    <p></p>
  </div>

  <div class='sprintTable'>
    <button>I need a pair!</button>
    <p></p>
  </div>

  <div class='sprintTable'>
    <button>I need a pair!</button>
    <p></p>
  </div>
</div>









