<h1>Create an Account </h1> 
  <form method='POST'>
    <input type='hidden' name='_csrf', value='csrfToken'/>
    <span>Username</span><input type='username' name='username' required>
    <span>Password</span><input type='password' name='password' required>
  </form> 

