<h1>Create an Account </h1> 
  <form method='POST'>
    <input type='hidden' name='_csrf', value='csrfToken'>
    <span>Cohort</span><input type='cohort' name='cohort' required></br>
    <span>Username</span><input type='username' name='username' required></br>
    <span>Password</span><input type='password' name='password' required>
    <input type="submit">
  </form>

<p>Already have an <a href='/register'>account</a>?</p>
