.row {
  width: 95%;
  min-height: 60px;
  margin: 0 auto;
  text-align: right;
  padding-right: 5%;
}
.row h1 {
  text-align: left;
  display: block;
  width: 150px;
  float: left;
}
.row form {
  width: 200px;
  float: right;
  padding-top: 20px;
}

#auth img {
margin-left: 41%;
margin-top: 15%;
}

#auth p {
  margin-left: 34%;
}

#welcomeWrapper {
  height: 320px;
  width: 75%;
  margin-left: 10%;
  border-color: black;
  border: solid;
  margin-bottom: 3%;
}

#welcomeWrapper img{
  float: left;
}

#welcome {
  float: right;
  margin-top: 5%;
  margin-right: 30%;
  text-align: center;
}

.sprintTable {
  height: 150px;
  width: 75%;
  margin-left: 10%;
  margin-top: 2px;
  border-color: black;
  border: solid;
}


